body{
	background: black;
}
#container{
	background: blue;
	width: 1050px;
	height: 1100px;
	margin: 0 auto;
}

.tile{
	background: white;
	width: 300px;
	height: 300px;
	float: left;
	
}

#header{
	background-image: url(preventia20829110715.jpg);
	width: 1050px;
	height: 200px;
	text-align: right;
	color: orangered;
	display:table-cell;
    vertical-align:middle;
}

#Left{
	background: green;
	width: 150px;
	height: 900px;
	float: left;
}
	#PersonalInfo{
		background: green;
		width: 150px;
		height: 300px;
		float: left;
	}

	#ProgramingInfo{
		background: green;
		width: 150px;
		height: 300px;
		float: left;
	}

	#StudyAndTournaments{
		width: 150px;
		height: 300px;
		background: green;
		float: left;
	}

#Right{
	background: silver;
	width: 900px;
	height: 900px;
	float: left;
}
	 #FirstLine{
		width: 900px;
		height: 300px;
		background: silver;
	}
		
		#Bikes{
			width: 300px;
			height: 300px;
			background: green;
			background-image: url(min_mtb.jpg);
			float: left;
			text-align: center;
			color: whitesmoke;
			display:table-cell;
   			vertical-align:middle;
		}
		#Bjj{
			float: left;
		}
		#technology{
			float: left;
		}
	#SecoundLine{
		background: Silver;
		width: 900px;
		height: 300px;
	}
		#ChurchStudentGroup{
			float: left;
		}
		#ProgramingInCSharp{
			float: left;
		}
		#Coaching{
			float: left;
		}
	#ThirdLine{
		background: Silver;
		width: 900px;
		height: 300px;
	}
	
	
	

	