body{
	background-image:url(mainbackground.jpg);
	background-size: 200%;
}
#container{
	background: blue;
	width: 960px;
	height: 1160px;
	margin: 0 auto;
}


#header{
	background-image: url(footer.jpg);
	background-size: 100%; 
	width: 1040px;
	height: 200px;
	text-align: right;
	color: orangered;
	display:table-cell;
    vertical-align:middle;
}




	 
		
		#Bikes{
			width: 300px;
			height: 300px;
			float: left;
			margin: 10px;
			color: greenyellow;
		}
		
		#BikesBackground{
			width: 300px;
			height: 300px;
			position: relative;
			background-image: url(min_mtb.jpg);
			background-size: 100%;
			z-index: 1;
		}
		#BikesText{
			width: 300px;
			height: 300px;
			position: relative;
			z-index: 2;
			text-align: center;
		}
		#BikesBackground:hover{ 
			opacity: 0.5;
		}
		#CombatSports{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(bjj.jpg);
			background-size: 100%;
			float: left;
			margin: 10px;
		}

		#CombatSports:hover{
			opacity: 0.5;
		}
		#technology{
			margin: 10px;
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(technology.jpg);
			background-size: 100% 300px;
			float: left;
		}

		#technology:hover{
			opacity: 0.5;
		}
	
		#Music{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(pobrane.png);
			background-size: 100% 300px;
			margin: 10px;		
		}

		#Music:hover{
			opacity: 0.5;
		}
		#ProgramingInCSharp{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(csharp.png);
			background-size: 100%;
			margin: 10px;
		}
		#ProgramingInCSharp:hover{
			opacity: 0.5;
		}
		#Coaching{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(Sports-Psychology.png);
			background-size: 100%;
			margin: 10px;
		}
		#Coaching:hover{
			opacity: 0.5;
		}
	
		#WebDeveloping{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(websymbol.jpg);
			background-size: 100%;
			margin: 10px;
		}
		#WebDeveloping:hover{
			opacity: 0.5;
		}
		#Diet{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(Diet.jpg);
			background-size: 100%;
			margin: 10px;
		}
		#Diet:hover{
			opacity: 0.5;
		}
		#Games{
			float: left;
			width: 300px;
			height: 300px;
			background-image: url(games.ico);
			background-size: 100%;
			margin: 10px;
		}
		#Games:hover{
			opacity: 0.5;
		}
	
	
	

	